---
const { img } = Astro.props;
---

<div
  style={`background-image:url('${img}'); clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);`}
  class="bg-no-repeat bg-cover relative h-[80vh] w-full max-w-[100vw]"
>
  <div
    class="absolute m-auto w-full h-full flex justify-center flex-col items-center"
  >
    <slot />
  </div>
</div>
