<div class="w-full relative">
  <img
    class="absolute z-10 top-10 w-[1000px] left-0 right-0 m-auto"
    src="/logo-home.svg"
    alt="ESLAND - Premios a la comunidad hispanohablante de streaming"
  />
  <video
    class="w-full h-screen object-cover object-top animate-fade animate-ease-in-out animate-duration-1000"
    src="/video.webm"
    autoplay
    loop
    muted
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);"
  >
  </video>
  <video
    class="absolute -bottom-48 blur-3xl -z-40"
    src="/video.webm"
    autoplay
    loop
    muted
  >
  </video>
</div>
